<h1>table</h1>
<div >
    <pre>{{header}}</pre>
    <table>
        <thead>
            <tr>
                <th ng-if="selectable">
                    <div class="pure-checkbox">
                        <input id="checkbox1" name="checkbox" type="checkbox" ng-model="vm.selectAll">
                        <label for="checkbox1"> </label>
                    </div>
                </th>
                <th>Age</th>
                <th>Sex</th>
                <th>Birthday</th>
                <th>Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="pure-checkbox">
                        <input id="checkbox1" name="checkbox" type="checkbox" ng-model="vm.selectAll">
                        <label for="checkbox1"> </label>
                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>